@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}
body {
  font-family: "Arimo", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
.add-toy {
  display: flex;
}

@media screen and (max-width: 640px) {
  .add-toy {
    display: block;
  }
  .youtube {
    width: 100%;
  }
}
